.dashboard {
  width: 100%;
}

.dashboard__group{
  display: flex !important;

}

.dashboard__left {
  width: 20%;
  height: 100vh;
  background-color: #4153c8;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.dashboard__right {
  width: 75%;
  background-color: #ffffff;
}


.dashboard__data{
    margin-left: 30px;
    height: 35vh;
    width: 100%;
}

.dashboard__profile, .dashboard__post, .dashboard__gallery, .dashboard__todo{
    margin-top: 14px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 400;
    min-width:60px;
    position: relative;
    left: -48px;
}

hr{
    margin-top: 15px;
    width: 80%;
}

.dashboard__items{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.dashboard__icon{
    position: relative;
    left: 45px;
    top: 19px;
    color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
}